{% extends 'accounts/base.html' %}

{% block content %}
{% if validlink %}
<h1>Change password for {{ form.user.username }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Change password</button>
    <div id="dirty-hack">Something you must not see</div>
</form>
{% else %}
<h1>Reset your password</h1>
<div id="area">
    <p id="help-p">It looks like you clicked on an invalid password reset link. Please try again.</p>
    <div id="pwd-reset">
        <a href="{% url 'password_reset' %}">Request a new password reset link</a>
    </div>
</div>
{% endif %}
{% endblock content %}
