{% extends 'blog_app/base.html' %}
{% load static %}

{% block content %}
<div class="post-like-wrapper" style="overflow: auto">
    <!--
    <img src="{% static 'blog_app/images/photo.jpg' %}" width="350" style="margin:5px; float:left">
    -->
    <p>
        Hi, my name is Anonymous. I'm 666 years old and I'm not a human being.
        I've sold my soul to the devil.
    </p>
    <p>
        It happened when I saw Django for the first time. All these url mappings, models, templates,
        function based views, class based views and especially generic class based views.
        Man, it was gorgeous. I wanted to own it. I wanted it so badly. That's because of this
        f***ing deadline. I had just 2 days to show the ready project to my boss. There wasn't nothing
        done. I even hadn't begun it yet. And then I did it, I signed it with my blood. Forty hours
        without sleeping and I finished it. I was sitting opposite my monitor and looking at this
        pure beauty. And I dicided: no more Flask, no more family, no more friends - I don't need these.
        Django is my only love, the only comrad, my life...
    </p>
</div>
{% endblock %}
