body {
    background-color: #59888D;
    color: #27676C;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body a {
    color: #27676C;
    text-decoration: none;
    font-weight: bold;
}

body a:hover {
    color: #59888D;
}

#header {
    position: relative;
    height: 75px;
    background-color: #9BB5B7;
    border-radius: 8px;
    margin: 20px 20px 50px 20px;
}

#header h1 {
    font-size: 30px;
    padding: 20px 20px;
}

#center {
    min-height: calc(100vh - 155px - 100px);
}

#center h1 {
    text-align: center;
}

form, #area {
    background-color: #9BB5B7;
    border-radius: 8px;
    width: 350px;
    margin-top: 50px;
    margin: auto;
    padding-top: 20px;
}

#area {
    padding: 20px 0 20px 0;
}

form label {
    margin-left: 40px;
}

form input, textarea {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    padding: 5px 10px;
    resize: none;
    background-color: #9BB5B7;
    border: 2px solid #27676C;
    border-radius: 4px;
}

input:focus {
    background-color: #27676C;
    color: #9BB5B7;
}

.btn {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    cursor: pointer;
    border: 2px solid #27676C;
    border-radius: 4px;
    background-color: #27676C;
    color: #59888D;
}

.btn:hover {
    color: #9BB5B7;
}

#pwd-reset {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
}

.helptext {
    display: none;
}

ul {
    font-size: 14px;
    color: #59888D;
}

#help-p {
    margin: 2px 15px;
    text-align: center;
}

.errorlist {
    list-style-type: none;
    color: rgb(185, 48, 7);
}

#footer {
    margin-top: 50px;
    margin-left: 25%;
    width: 50%;
    height: 50px;
    text-align: center;
    color: #9BB5B7;
}